@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

/* Add component-level SCSS imports here */
@import 'home/home';